= form_for @occupation_category do |f|
  - if @occupation_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@occupation_category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @occupation_category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
