%p#notice= notice

= render 'shared/explore/header'
-# Nav bar
-# Header
-# Main: Children
-# Side-bar: popular industries, new requests, new solutions
:css
  .container-overflow {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
  }

%div{class: "flex flex-wrap justify-center pb-10"}
  %div{class: "mt-4 max-w-screen-lg w-full text-3xl font-bold tracking-wide"}
    Explore by Occupations
  -# %div{c: "max-w-screen-lg w-full text-gray-700 tracking-wider"}
  -#   - letter = (params[:type] == "IndustryCategory" ? 'i' : 'o')
  -#   = "#{letter}/#{@category.slug}"
  %div{class: "mt-4 max-w-screen-lg w-full text-base flex items-center"}
    %div{class: "font-source font-bold text-primary text-lg"}
      solved
    %div{class: "ml-1 text-base"}
      uses the International Standard Classification of Occupations (ISCO) to categorise
      industries. There are four levels of classification,
  %div{class: "text-base max-w-screen-lg w-full"}
    and solutions and requests are posted to the fourth level.
  %div{class: "mt-8 max-w-screen-lg w-full relative flex"}
    -# %div{class: "w-1/2 flex-shrink-0 flex flex-wrap"}
    #container
      = render "occupation_categories/expand_group", group: @occupation_categories.first
    -# %div{class: "w-full font-sans mr-20"}
    -#   = render "occupation_categories/expand_group", group: @occupation_categories.first

:javascript
  var container_elem = document.getElementById("container");
  var height = container_elem.scrollHeight;
  // overflow into second column
  if (height > window.innerHeight) {
    container_elem.classList.add("container-overflow")
  }
