%h1 Listing occupation_categories

%table
  %thead
    %tr
      %th Title
      %th Code
      %th Slug
      %th
      %th
      %th

  %tbody
    - @occupation_categories.each do |occupation_category|
      %tr
        %td= occupation_category.title
        %td= occupation_category.code
        %td= occupation_category.slug
        %td= link_to 'Show', occupation_category
        %td= link_to 'Edit', edit_occupation_category_path(occupation_category)
        %td= link_to 'Destroy', occupation_category, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Occupation category', new_occupation_category_path
