-# - byebug

%div{id: "#{defined?(youtube_url_iteration.index) ? "#{youtube_url_iteration.index}-video" : nil}",
      class: "aspect-w-16 aspect-h-9 w-full flex-shrink-0 #{defined?(only_thumbnail) ? "#{only_thumbnail ? nil : "youtube-player"}" : "youtube-player"} relative",
      data: {
        id: "#{youtube_url.youtube_id}",
        votes: upvote_count(youtube_url.solution),
        autoplay: "#{defined?(autoplay) ? "1" : "0"}",
        position: youtube_url.solution.id,
        title: youtube_url.solution.title,
        "yt-button": "#{defined?(yt_button) ? yt_button : false}",
        "no-initial-yt-button": "#{defined?(no_inital_yt_button) ? no_inital_yt_button : false}"
      }}
  - if defined?(only_thumbnail) && only_thumbnail
    %picture{class: "h-full w-full object-cover cursor-pointer"}
      %source{srcset: "//i.ytimg.com/vi_webp/#{youtube_url.youtube_id}/mqdefault.webp", type: "image/webp"}
      %source{srcset: "//i.ytimg.com/vi/#{youtube_url.youtube_id}/mqdefault.jpg", type: "image/jpeg"}
      = image_tag "//i.ytimg.com/vi/#{youtube_url.youtube_id}/mqdefault.jpg", loading: "lazy", class: "h-full w-full object-cover cursor-pointer"
