-# - byebug

%div{id: "#{defined?(youtube_url_iteration.index) ? "#{youtube_url_iteration.index}-video" : nil}",
      class: "aspect-w-16 aspect-h-9 w-full flex-shrink-0 #{defined?(only_thumbnail) ? "#{only_thumbnail ? nil : "youtube-player"}" : "youtube-player"} relative",
      "data-id": "#{youtube_url.youtube_id}",
      "data-votes": upvote_count(youtube_url.solution),
      "data-autoplay": "#{defined?(autoplay) ? "1" : "0"}",
      "data-yt-button": "#{defined?(yt_button) ? yt_button : false}"}
  -# = image_tag "//img.youtube.com/vi/#{youtube_url.youtube_id}/sddefault.jpg", class: "h-full w-full object-cover cursor-pointer"
