= form_for @occupation do |f|
  - if @occupation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@occupation.errors.count, "error")} prohibited this occupation from being saved:"
      %ul
        - @occupation.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
