-# = render 'layouts/header'
-# - @render_shadow = false

%div{class: "mt-10 flex justify-center pb-10"}
  %div{class: "max-w-screen-lg flex overflow-hidden"}
    %div{class: "w-2/3 pr-12"}
      - active   = "text-secondary bg-gray-fb bg-opacity-50 px-2 py-2 font-semibold rounded"
      - inactive = "text-gray-900 px-2 py-2 font-semibold rounded hover:bg-gray-fb hover:bg-opacity-50"
      -# - active = "px-2 py-2 rounded bg-secondary text-white font-semibold"
      -# - inactive = "px-2 py-2 rounded hover:bg-secondary hover:text-white font-semibold text-gray-900"
      %nav{class: "bg-white border border-gray-400 rounded px-3 py-3 space-x-2 flex justify-between text-sm"}
        - if current_page?(controller: 'search', action: 'home') || current_page?(controller: 'search', action: 'recent')
          %div
            = link_to 'Solutions', root_path, class: "#{active}"
            = link_to 'Requests', requests_path, class: "#{inactive}"
          %div
            = link_to_unless_current("Top", root_path, class: "#{inactive}") do link_to 'Top', root_path, class: "#{active}" end
            = link_to_unless_current("Most Recent", [:recent], class: "#{inactive}") do link_to 'Most Recent', [:recent], class: "#{active}" end
        - else
          %div
            = link_to 'Solutions', root_path, class: "#{inactive}"
            = link_to 'Requests', requests_path, class: "#{active}"
          %div
            = link_to_unless_current("Top", [:requests], class: "#{inactive}") do link_to 'Top', [:requests], class: "#{active}" end
            = link_to_unless_current("Most Recent", [:requests, :recent], class: "#{inactive}") do link_to 'Most Recent', [:requests, :recent], class: "#{active}" end


      %div{class: "mt-8"}
        - if @solutions.today.any?
          %div{class: "w-full font-semibold text-xl mb-6 leading-none"}
            Today
          = render @solutions.today
          %div{class: "mt-8"}
        - if @solutions.past_week.any?
          %div{class: "w-full font-semibold text-xl mb-6 leading-none"}
            Past Week
          = render @solutions.past_week
          %div{class: "mt-8"}
        - if @solutions.past_month.any?
          %div{class: "w-full font-semibold text-xl mb-6 leading-none"}
            Past Month
          = render @solutions.past_month




    %div{class: "w-1/3 flex-shrink-0 flex flex-wrap"}
      %div{class: "w-full flex flex-wrap rounded-sm"}
        %div{class: ""}
          %div{class: " py-3 px-4 bg-white border border-gray-400 rounded"}
            %div{class: "w-full text-base font-bold text-sm text-"}
              Hey! 👋
              -# = "About #{niche_type}"
            %div{class: "py-1 w-full rounded-lg "}
              %div{class: "font-source font-bold text-base -mb-1 text-primary float-left inline-flex mr-1"}
                solved
              %div{class: ""}
                is a community of problem solvers and makers helping you find (or build!) better solutions to problems you face.
                <br/><br/>
                🤔 Know there's a better way to do that task you do everyday, but don't have the time to figure out a better solution?
                <br/>
              = link_to "Make a request to your niche.", new_request_path, class: "text-base underline"
              %div{class: ""}
                <br/>
                👆 Find your industry / occupation niche by using the search bar above.
                <br/><br/>
                💫 Subscribe to your niche to get a weekly newsletter with the top solutions and requests of the week.


                -# Knew there was a tech solution, but didn't know how to?
              -# = simple_format @niche.description.gsub(/\n/, '<br/>').html_safe

