:javascript
  function convertToIframe(event) {
    event.preventDefault();
    var div = event.target.closest('.group');

    var iframe = document.createElement('iframe');
    iframe.setAttribute(
      'src',
      'https://www.youtube.com/embed/' + div.dataset.id + '?autoplay=1&rel=0'
    );
    iframe.setAttribute('frameborder', '0');
    iframe.setAttribute('allowfullscreen', '1');
    iframe.setAttribute(
      'allow',
      'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
    );
    iframe.setAttribute('class', 'h-full w-full cursor-pointer');
    div.parentNode.replaceChild(iframe, div);
  }


%div{class: "flex justify-center pb-4 md:pb-6 bg-opacity-5 "}
%div{class: " w-full flex flex-col bg-opacity-5  items-center overflow-hidden", "data-controller": 'toggle'}
  %div{class: "w-full px-4 md:px-0 md:w-2/3 lg:w-1/2 flex items-center mt-4"}
    #searchbox_posts{class: "flex-grow"}
    -# = javascript_packs_with_chunks_tag "search/#{params[:action]}", 'data-turbolinks-track': 'reload'
    %div{class: "flex items-cneter p-2 ml-1 cursor-pointer lg:hidden", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
      %div{class: "w-4 h-4 text-black"}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
      -# %div{class: ""}
      -#   Filters

  #results{class: "w-full flex justify-center"}
    %div{class: "md:mt-6 flex flex-wrap justify-center pb-20 w-full"}
      %div{class: "w-full flex flex-wrap lg:flex-nowrap lg:items-start"}
        %div{"data-toggle-target": 'toggleable', class: "hidden lg:flex flex-col w-full lg:w-min pt-6 pb-10 md:py-0 md:pb-8 flex-shrink-0 bg-opacity-5 lg:bg-transparent px-4  space-y-10 lg:space-y-8"}
          %div{class: "text-sm uppercase font-semibold mb-2"}
            Filters
          %div{class: "grid md:grid-cols-2 lg:flex lg:flex-col gap-6"}
            %div{"data-controller": "toggle"}
              %div{class: "w-full flex items-center justify-between border-b border-gray-400 cursor-pointer", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                %div{class: "text-sm uppercase font-semibold "}
                  Price
                %div{class: "cursor-pointer p-2"}
                  = svg_tag "chevron-down", class: "w-5 h-5 hidden", "data-toggle-target": 'toggleable'
                  -# %div{class: "cursor-pointer p-2 hidden", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                  = svg_tag "chevron-up", class: "w-5 h-5", "data-toggle-target": 'toggleable'

              #price_facet{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}
              #price_range{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}
              #is_free{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}


            %div{"data-controller": "toggle"}
              %div{class: "w-full flex items-center justify-between border-b border-gray-400 cursor-pointer", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                %div{class: "text-sm uppercase font-semibold"}
                  Tags
                %div{class: "cursor-pointer p-2"}
                  = svg_tag "chevron-down", class: "w-5 h-5 hidden", "data-toggle-target": 'toggleable'
                  -# %div{class: "cursor-pointer p-2 hidden", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                  = svg_tag "chevron-up", class: "w-5 h-5", "data-toggle-target": 'toggleable'
              #tags{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}

            %div{"data-controller": "toggle"}
              %div{class: "w-full flex items-center justify-between border-b border-gray-400 cursor-pointer", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                %div{class: "text-sm uppercase font-semibold "}
                  Communities
                %div{class: "cursor-pointer p-2"}
                  = svg_tag "chevron-down", class: "w-5 h-5 hidden", "data-toggle-target": 'toggleable'
                  -# %div{class: "cursor-pointer p-2 hidden", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                  = svg_tag "chevron-up", class: "w-5 h-5", "data-toggle-target": 'toggleable'
              #communities{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}

            %div{"data-controller": "toggle"}
              %div{class: "w-full flex items-center justify-between border-b border-gray-400 cursor-pointer", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                %div{class: "text-sm uppercase font-semibold "}
                  Platforms
                %div{class: "cursor-pointer p-2"}
                  = svg_tag "chevron-down", class: "w-5 h-5 hidden", "data-toggle-target": 'toggleable'
                  -# %div{class: "cursor-pointer p-2 hidden", "data-action": 'click->toggle#toggle touch->toggle#toggle'}
                  = svg_tag "chevron-up", class: "w-5 h-5", "data-toggle-target": 'toggleable'
              #platforms{class: "mt-2 w-full hidden", "data-toggle-target": 'toggleable'}


        %div{class: "mt-6 md:mt-0 w-full md:px-4 flex flex-wrap px-4"}
          %div{class: "flex items-end w-full"}
            %div{id: "current-refinements"}

          %div{id: "hits", class: "mt-6 w-full"}





