%div{class: "flex justify-center bg-white"}
  %div{class: "max-w-screen-lg w-full"}
    %div{class: "pt-3"}
      - niche.ancestry.each do |ancestor|
        = link_to(ancestor.title, @ancestor, class: "")
        = " > "
      = niche.title
    %div{class: "mt-2 text-gray-900 font-bold text-2xl"}
      = niche.title
    %div{c: "text-gray-700 text-primary tracking-wider"}
      = "n/#{niche.slug}"
    - active   = "px-3 py-1 border-b-2 border-primary font-medium text-gray-900 hover:bg-white hover:text-gray-900"
    - inactive = "px-3 py-1 text-gray-600 border-b-2 border-gray-300 hover:text-gray-900 hover:bg-white hover:border-gray-500"
    %nav{class: "mt-4 h-full mb-1 text-base space-x-4"}
      = link_to_unless_current("Home", niche, class: "#{inactive}") do link_to 'Home',   niche,   class: "#{active}" end
      = link_to_unless_current("Search", niche_search_url(niche), class: "#{inactive}") do link_to("Search", niche_search_url(niche), class: "#{active}") end
      = link_to_unless_current("Requests", niche_requests_url(niche), class: "#{inactive}") do link_to("Requests", niche_requests_url(niche), class: "#{active}") end
      -# %div{class: ""}
      -# = link_to 'Home',   niche,   class: "px-3 py-1 text-gray-600 #{active if true}"
      -# = link_to 'Search', 'search', class: "px-3 py-1 text-gray-600 #{active if true}"
