%p#notice= notice
%h1.bg-red-100.text-white Niches
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Code
      %th Slug
      %th{:colspan => "3"}
  %tbody
    - @niches.each do |niche|
      %tr
        %td= niche.title
        %td= niche.description
        %td= niche.code
        %td= niche.slug
        %td= link_to 'Show', niche
        %td= link_to 'Edit', edit_niche_path(niche)
        %td= link_to 'Destroy', niche, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Niche', new_niche_path
