<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @nich.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nich.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @nich.code %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @nich.slug %>
</p>

<%= link_to 'Edit', edit_nich_path(@nich) %> |
<%= link_to 'Back', niches_path %>
