
:javascript
  analytics.page("All");

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    console.log(cname + "=" + cvalue + ";" + expires + ";path=/");
  }

%div{class: "bg-white lg:w-1/2 lg:mx-auto rounded border border-gray-400 m-4 p-4 mb-8 #{cookies[:closeInfo1] ? 'hidden' : nil}", "data-toggle-target": 'toggleable', "data-controller": "toggle"}
  %div{class: "text-base flex items-center w-full justify-between font-medium"}
    Hello! 👋
    -# %div
    %div{class: "w-4 h-4  text-gray-600 hover:text-black cursor-pointer", "data-action": 'click->toggle#toggle touch->toggle#toggle', onclick: "document.cookie = setCookie('closeInfo1', true, 10);"}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>

  %div{class: "py-1 w-full rounded-lg mt-1 text-base px-auto space-y-2"}

    %div{class: "text-sm"}
      Welcome to solved, a place to find out how others in your industry / occupation solve their problems.
      -# learn about better solutions from others in your industry / occupation. <br/>
    %div{class: "text-sm"}
      🔍 Use the search bar above to find your industry / occupation.
      -#  above and find out how others in your field are solving their problems.

      -# learn about new ways of solving problems from others in your field.
    %div{class: "text-sm"}
      👇 Alternatively, browse below to see popular solutions from all industries and occupations across solved.

%div{class: "w-full flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0 lg:space-x-0 justify-around my-8"}
  - cache(:popular_industries, expires_in: 30.minutes) do
    %div{class: "w-full lg:w-2/5 xl:w-1/3 text-sm bg-white pt-4 px-4 pb-3 rounded border border-gray-400"}
      %div{class: "font-semibold"}
        Popular Industries
      - communities = Industry.popular.take(3)
      - communities.each do |c|
        = link_to c, class: "popular-industry", data: { title: c.title, position: c.id } do
          %div{class: "hover:bg-gray-200 text-xssm rounded mt-1 p-1.5"}
            = "#{c.title}"
  - cache(:popular_occupations, expires_in: 30.minutes) do
    %div{class: "w-full lg:w-2/5 xl:w-1/3 text-sm bg-white pt-4 px-4 pb-3 rounded border border-gray-400"}
      %div{class: "font-semibold"}
        Popular Occupations
      - communities = Occupation.popular.take(3)
      - communities.each do |c|
        = link_to c, class: "popular-occupation", data: { title: c.title, position: c.id } do
          %div{class: "hover:bg-gray-200 text-xssm rounded mt-1 p-1.5"}
            = "#{c.title}"

%div{class: "mt-4 mb-10 px-4"}

  %div{class: "text-xl font-bold leading-tight"}
    Popular Solutions
  %div{class: "text-base font-medium tracking-wide text-gray-700 mb-6"}
    from all communities on solved

  - if @posts.today.exists?
    %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
      Today
    %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-3 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
      = render @posts.today, cached: true

  - if @posts.past_week.exists?
    %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
      Past Week
    %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-3 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
      = render @posts.past_week.take(12), cached: true
    -# %div{class: "flex items-center w-full"}
    -#   %div{class: "flex-1 relative"}
    -#     %div{class: "w-full absolute top-1/2 border-t-2 border-gray-300"}
    -#   %div{class: "flex-shrink-0 px-2 py-1 text-secondary font-medium mx-3 rounded-md flex items-center hover:bg-gray-200 cursor-pointer"}
    -#     Show more
    -#     %div{class: "ml-1"}
    -#       = svg_tag "chevron-down", class: "w-5 h-5"
    -#   %div{class: "flex-1 relative"}
    -#     %div{class: "w-full absolute top-1/2 border-t-2 border-gray-300"}

  -# - if @posts.past_month.exists?
  -# %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
  -#   Past Month
  %div{class: "mt-6 w-full grid grid-cols-2 gap-x-3 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
    = render @posts.take(24), cached: true

