%div{class: "flex justify-center bg-white"}
  %div{class: "max-w-screen-lg w-full"}
    %div{class: "pt-3 flex items-center"}
      - breadcrumb_class = "text-gray-600 underline text-xs hover:bg-transparent hover:text-black"
      = link_to(niche_type.pluralize, [niche_type.downcase.to_sym, :categories], class: breadcrumb_class)
      %div{class: "mx-1"}
        = " > "
      - subsector = niche.category.parent.parent
      -# - subsector_code = (niche_type == "Industry" ? (niche.code.to_i / 100) : niche.code[0] = '0')
      -# - subsector = (niche_type + "Category").constantize.find_by(code: subsector_code).parent
      = link_to(subsector.title, subsector, class: breadcrumb_class)
      %div{class: "mx-1"}
        = " > "
      %div{class: "text-xs"}
        = niche.title
    %div{class: "mt-2 text-gray-900 font-bold text-2xl"}
      = niche.title
    %div{c: "text-gray-700 text-xs"}
      - letter = (niche_type == "Industry" ? 'i' : 'o')
      = "#{letter}/#{niche.code}"
    -# - active   = "py-1 border-b-2 border-primary font-medium text-gray-900 hover:bg-white hover:text-gray-900"
    -# - inactive = "py-1 text-gray-600 border-b-2 border-gray-300 hover:text-gray-900 hover:bg-white hover:border-gray-500"
    - active   = "text-secondary bg-gray-100 px-2 py-2 font-medium rounded"
    - inactive = "text-gray-700 px-2 py-2 font-medium rounded hover:bg-gray-200"
    %div{class: "flex justify-between items-center mb-3 mt-4"}
      %nav{class: "h-full text-base space-x-4"}
        = link_to_unless_current("Solutions", niche, class: "#{inactive}") do link_to 'Solutions', niche, class: "#{active}" end
        = link_to_unless_current("Requests", [niche, :requests], class: "#{inactive}") do link_to("Requests", [niche, :requests], class: "#{active}") end
        = link_to_unless_current("Search", [niche, :search], class: "#{inactive}") do link_to("Search", [niche, :search], class: "#{active}") end
      %nav{class: "space-x-1 flex items-center"}
        -# = link_to_unless_current("Requests", [niche, :requests], class: "hidden") do link_to("New Request", new_request_path(type: niche_type, code: niche.code), class: "text-gray-600 hover:text-white hover:bg-secondary p-2 font-medium rounded") end
        -# = link_to("New Request", new_request_path(type: niche_type, code: niche.code), class: "text-gray-600 hover:text-white hover:bg-secondary p-2 font-medium rounded")
        = link_to new_solution_path(type: niche_type, code: niche.code) do
          -# %div{class: "text-gray-600 hover:text-white hover:bg-secondary p-2 font-medium rounded leading-none"}
          %div{class: "text-gray-700 hover:text-white hover:bg-secondary px-2 py-1 font-medium rounded flex items-center"}
            New Solution
            -# <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            -# <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            -# </svg>
            -# %div{class: "-ml-0.5 leading-none"}
            -#   Solution
        = link_to new_request_path(type: niche_type, code: niche.code) do
          -# %div{class: "text-gray-600 hover:text-white hover:bg-secondary p-2 font-medium rounded leading-none"}
          %div{class: "text-gray-700 hover:text-white hover:bg-secondary px-2 py-1 font-medium rounded flex items-center"}
            New Request
            -# <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            -# <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            -# </svg>
            -# %div{class: "-ml-0.5 leading-none"}
            -#   Request
