
= link_to solution do
  %div{class: "mt-8 bg-white overflow-auto px-5 border border-gray-400 w-full group",
       hover: "border-gray-900"}
    %div{class: "flex flex-wrap rounded-sm pt-3 pb-2"}
      %div{class: "w-full flex"}
        -# %div{class: "w-16 h-16 flex-shrink-0"}
          -# = link_to (image_tag solution.product.thumbnail_url, class: "object-cover"), solution.product
          -# = image_tag solution.product.thumbnail_url
        %div{class: "flex-grow flex flex-col justify-between"}
          = link_to solution.title, solution, class: "font-medium two-lines-only "
          %div{class: "text-xs text-gray-600 flex flex-wrap items-center"}

            - niche = solution.industries.first || solution.occupations.first
            %div{class: "font-medium text-black hover:bg-gray-200 hover:bg-opacity-70 -m-1 p-1"}
              = link_to niche.title, niche
            .mx-1
              &middot;
            .hover:text-black.flex-shrink-0
              = solution.user.name
            .ml-2.flex-shrink-0.hover:underline.hover:text-black
              = link_to "#{time_ago_in_words(solution.created_at)} ago", solution

        = link_to solution do
          %div{class: "ml-10 mt-2 text-gray-900 place-self-center flex-shrink-0 flex flex-col items-center justify-center w-14 h-16 rounded border border-gray-300 leading-none transition group-hover:text-primary"}
            -# = link_to upvote_solution_path(solution), class: "text-gray-900 place-self-center flex-shrink-0 flex flex-col items-center justify-center w-14 h-16 rounded-sm border border-gray-300 leading-none" do
            %div{class: "text-sm leading-none group-hover:animate-bounce"}
              ▲
            %div{class: "mt-1 font-semibold"}
              = upvote_count(solution)
      - if solution.youtube_urls.present?
        %div{class: "aspect-w-7 aspect-h-4 mt-4 w-full"}
          %div{class: "flex flex-col w-full h-full overflow-y-auto space-y-2"}
            = render solution.youtube_urls

      = link_to solution do
        %div{class: "text-sm pr-2 mt-2 pr-9 read-more w-full"}
          = solution.description_safe_html.html_safe
        %div{class: "ml-1 mr-9 px-1 mt-2 mb-2 w-full flex items-center text-xs px-1 text-gray-700 font-semibold w-min rounded-lg",
            hover: "bg-gray-300"}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
          <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
          <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
          </svg>
          %div{class: "flex-shrink-0 ml-1 "}
            = "#{pluralize(solution.root_comments.count, 'Comment')}"


