- cache(solution) do

  %div{class: "flex flex-col"}
    - if solution.youtube_urls.present?
      %div{class: "video aspect-w-7 aspect-h-4 "}
        %div{class: "flex flex-col w-full h-full overflow-y-auto space-y-2"}
          = render solution.youtube_urls.first
    = link_to solution do
      %div{class: "flex mt-2"}
        %div{class: "flex-shrink-0"}
          = image_tag solution.product.thumbnail_url, class: "w-8 h-8 object-cover rounded-full"
        %div{class: "flex-grow flex flex-wrap ml-2"}
          %div{class: "w-full text-xs md:text-sm font-medium two-lines-only"}
            %div{class: "flex-shrink-0 "}
              = solution.title
          %div{class: "mt-1 text-xxs md:text-xs w-full text-gray-700 flex items-center md:mr-6 overflow-x-scroll disable-scrollbars"}
            - niche = solution.industries.first || solution.occupations.first
            %div{class: "flex-shrink-0 "}
              = niche.title
          %div{class: "text-xxs md:text-xs text-gray-700 flex items-center mr-6 overflow-x-scroll disable-scrollbars"}
            %div{class: "flex-shrink-0 "}
              = solution.user.name
            %div{class: "mx-1"}
              &middot;
            %div{class: "flex-shrink-0 "}
              = time_ago_in_words(solution.created_at)
              ago
            - if solution.plan
              %div{class: "mx-1"}
                &middot;
              %div{class: "flex-shrink-0 "}
                = "#{number_to_currency(solution.plan.price_per_month)}#{solution.plan.is_price_per_user ? " /u" : nil}/mo."





