
%div{class: "flex flex-wrap justify-center px-4", data: { controller: "data-binding"} }
  = form_with model: @solution, local: true, html: {class: ""} do |f|
    -# 2 Column
    %div{class: "max-w-screen-lg w-full relative flex flex-col"}
      -# Left Column
      %div{class: "mt-10"}
      - if @solution.errors.any?
        %ul{class: "mb-2 list-inside list-disc text-red-500"}
          - @solution.errors.full_messages.each do |msg|
            = content_tag(:li, msg)
      %div{class: "mt-10 text-2xl font-bold"}
        🌄 Solution overview
      %div{class: "w-full gap-x-10 grid grid-cols-2"}
        %div{class: "w-full"}
          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "text-base font-medium"}
              What product does your solution use?
            %div{class: "mt-1 w-full"}
              %div{class: "mt-4 flex items-end"}
                = image_tag @solution.product.thumbnail_url, class: "w-20 h-20"
                %div{class: "ml-2 text-2xl font-semibold leading-none "}
                  = @solution.product.name
              %div{class: "mt-4 text-gray-600"}
                You cannot edit the product after posting.


          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                What industries / occupations is your solution for?
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            %div{class: "w-full mt-1"}
              - options = options_for_select @solution.niche_list.map{ |n| [n.title, n.code, { title: n.title, 'selected' => 'selected' }] }
              = f.select :niche_list,  options, {}, {multiple: true, id: "select_community", class: "w-full mt-1 border-gray-300 shadow-sm rounded-md text-gray-900"}
            %div{class: "text-gray-600 text-xs mt-2"}
              = "Unsure of what communities to post to? #{link_to "Explore", industry_categories_path, target: "_blank", class: "px-0.5 -mx-0.5 border-b-3 border-secondary transition hover:bg-secondary hover:text-white"} or search to find relevant communities.".html_safe
            -# %div{class: "text-gray-600 text-xs mt-1"}
            -#   Please refresh the page if the box above looks funky 🤪

            %div{class: "mt-6 flex items-center"}
              %div{class: "font-medium"}
                Problem title
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            = f.text_field :title,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "Manage / Organise / Increase / Improve / Simplify ...",
                data: {action: "change->data-binding#update"}, "data-binding-target": "problem-title", "data-binding-property": "textContent", "data-binding-value": "$source.value", "data-binding-initial": "true"

            %div{class: "text-gray-600 text-xs mt-1"}
              Try to skip words like "How to" and concisely state the problem you're solving.

        %div{class: "w-full place-self-center flex flex-col"}
          %div{class: "mt-2 bg-white px-5 border border-gray-400 w-full",
              hover: "border-gray-900"}
            %div{class: "flex flex-col rounded-sm py-5"}
              %div{class: "w-full flex items-stretch"}
                %div{class: "w-16 h-16 flex-shrink-0"}
                  = image_tag "https://user-images.githubusercontent.com/101482/29592647-40da86ca-875a-11e7-8bc3-941700b0a323.png", id: "product_logo", class: "object-cover"
                %div{class: "pl-3 flex-grow w-min flex flex-col justify-between"}
                  %div{class: "font-semibold text-sm two-lines-only "}
                    %div{data: { binding: { ref: "problem-title"} } }
                      %div{class: "italic"}
                        Manage / Organise / Increase / Improve / Simplify ...

                  %div{class: "text-xs text-gray-600 flex flex-wrap"}
                    %div{class: "leading-none flex items-center"}
                      with
                      %div{id: "product_name", class: "ml-1", data: { binding: { ref: "product-name"} } }
                        %div{class: "italic"}
                          Product name
                    .mx-1
                      &middot;
                    .hover:text-black.flex-shrink-0
                      = @solution.user.name
                    .ml-2.flex-shrink-0.hover:underline.hover:text-black
                      just now
                %div{class: "ml-10 text-gray-900 place-self-center flex-shrink-0 flex flex-col items-center justify-center w-14 h-16 rounded-sm border border-gray-300 leading-none transition hover:text-primary"}
                  %div{class: "text-sm leading-none"}
                    ▲
                  %div{class: "mt-1 font-semibold"}
                    3
          %div{class: "px- mt-1 text-sm text-gray-600"}
            Preview

      %div{class: "mt-20 text-2xl font-bold"}
        🤓 Tell us about your solution
      %div{class: "mt-6 w-full gap-x-10 grid grid-cols-2"}
        %div{class: "w-full"}
          %div{class: "p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                YouTube video(s)
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            #videos
              = f.fields_for :youtube_urls do |builder|
                = render 'solutions/youtube_url', f: builder
            %div{class: "text-blue-500 hover:underline mt-1 text-xs"}
              = link_to_add_field('Add video', f, :youtube_urls, class: "", id: "add_video")
            -# %div{class: "text-gray-600 text-xs mt-2"}
            -#   = "If you haven't recorded a video explaining your solution yet, we highly recommend #{link_to "Loom", "https://www.loom.com/?ref=solvedapp", target: "_blank", class: "text-blue-500 hover:text-blue-700 hover:underline"}.".html_safe
              -# It's a simple tool to record video messages of your screen, cam, or both.



            %div{class: "mt-4 flex items-center"}
              %div{class: "font-medium"}
                Description
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            = f.text_area :description,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "Manage / Organise / Increase / Improve / Simplify ...",
                rows: "6"
            %div{class: "mt-1 text-xs"}
              Formatting: [this will be a link](https://www.example.com), **<strong>bold</strong>**, *<em>italic</em>*


          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-semibold"}
                Tags
              -# %div{class: "ml-2 text-gray-600"}
              -#   = "- Required"
            %div{class: "mt-2"}
              General tags
            %div{class: "text-gray-600 text-xs mt-1"}
              Words that make sense across many different industries / occupations.
            %div{class: "mt-1"}
              - options = @solution.general_tag_list + Solution.general_tag_counts.pluck(:name)
              = f.select :general_tag_list, options, {}, id: "general_tags", :multiple => true, class: "w-full"

            %div{class: "mt-3"}
              Community-specific tags
            %div{class: "text-gray-600 text-xs mt-1"}
              Words that make sense in the context of the industry / occupation you're posting to.
            %div{class: "mt-1"}
              - options = @solution.niche_specific_tag_list + Solution.niche_specific_tag_counts.pluck(:name)
              = f.select :niche_specific_tag_list, options, {}, id: "niche_specific_tags", :multiple => true, class: "w-full"

          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                Link to the product
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            = f.text_field :get_it_url,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "https://"
            %div{class: "text-gray-600 text-xs mt-1"}
              A link to learn more or purchase the product. This can be an affiliate link.


        %div{class: "w-full"}
          %div{class: "px-4 py-8 bg-white rounded-sm text-sm border border-gray-400 flex flex-wrap"}
            %div{class: "w-full text-lg font-medium"}
              Tips! 👇
              %ul{class: "mt-1 pl-2 text-sm font-normal text-gray-800 list-disc list-inside"}
                %li
                  Try to include a video.
                  %div.pl-5
                    ="Videos make it easier for others to understand what you're trying to convey. They also help others visulise how they could apply your solution."
                <br/>
                %li
                  ="Put yourself in the shoes of the people you want to help."
                  %div.pl-5
                    ="Understand their concerns of investing time and money on your solution, only for it to not work out for them. What could you tell or show to convince them that it's worth giving your solution a shot?"


      = f.submit "Post →", class: "my-12 w-full text-sm font-semibold text-white bg-primary rounded-sm py-4 uppercase cursor-pointer hover:bg-opacity-90"



:javascript
  function updateProductPreview() {

    var id = #{@solution.product.id};
    $.getJSON(`/products/${id}.json`, function(data) {
      document.getElementById("product_logo").src = data.thumbnail_url;
      document.getElementById("product_name").textContent = data.name;
      // JSON result in `data` variable
    });
  };
  updateProductPreview();


:javascript
  $( document ).on('turbolinks:load', function() {

    $("#add_video").on('click', function() {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('#videos').append($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    })

    $("#videos").on('click', '.remove_url', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('div').hide();
      return event.preventDefault();
    });
  });
