:javascript
  analytics.page('Solution Edit');

= content_for(:body_attributes) do
  data-turbolinks="false"
%div{class: "flex flex-wrap justify-center px-4", data: { controller: "data-binding"} }
  = form_with model: @solution, local: true, html: {class: ""} do |f|
    -# 2 Column
    %div{class: "max-w-screen-lg w-full relative flex flex-col"}
      -# Left Column
      %div{class: "mt-10"}
      - if @solution.errors.any?
        %ul{class: "mb-2 list-inside list-disc text-red-500"}
          - @solution.errors.full_messages.each do |msg|
            = content_tag(:li, msg)
      %div{class: "mt-10 text-2xl font-bold"}
        🌄 Solution overview
      %div{class: "w-full gap-x-10 grid grid-cols-2"}
        %div{class: "w-full"}
          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "text-base font-medium"}
              What product does your solution use?
            %div{class: "mt-1 w-full"}
              %div{class: "mt-4 flex items-end"}
                = image_tag @solution.product.thumbnail_url, class: "w-20 h-20"
                %div{class: "ml-2 text-2xl font-semibold leading-none "}
                  = @solution.product.name
              %div{class: "mt-4 text-gray-600"}
                You cannot edit the product or plan after posting. Please contact us if you'd like to make changes.

            -# %div{class: "mt-6 text-sm font-medium"}
            -#   What tier plan of the product are you using in your solution?
            -# %div{class: "mt-4 w-full"}
            -#   = f.select :plan_id, {}, {selected: "#{params.dig(:solution, :plan_id).nil? ? 1 : params.dig(:solution, :plan_id)}", include_blank: "Add a new plan"}, {class: "w-full text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"}
            -#   #plan_builder
            -#     = f.fields_for :plan do |builder|
            -#       %div{class: "mt-4 flex items-center"}
            -#         %div{class: ""}
            -#           Plan name
            -#         %div{class: "ml-2 text-gray-600"}
            -#           = "- Required"
            -#       = builder.text_field :name,
            -#         class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
            -#         id: "plan-name"
            -#       %div{class: "mt-4 flex items-center"}
            -#         %div{class: ""}
            -#           Price per month (billed monthly)
            -#         %div{class: "ml-2 text-gray-600"}
            -#           = "- Required"
            -#       %div{class: "flex items-center text-lg"}
            -#         $
            -#         %div{class: "w-20"}
            -#           = builder.number_field :price_per_month, step: :any,
            -#             class: "ml-1 mt-2 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
            -#             id: "plan-price"
            -#       %div{class: "text-gray-600 text-xs"}
            -#         Enter 0 for a free plan.
            -#       %div{class: "inline-flex items-center mt-2 ml-1"}
            -#         = builder.check_box :is_price_per_user, id: "plan-per-user", class: "form-checkbox rounded"
            -#         %div{class: "text-black text-sm ml-2"}
            -#           This price is per user per month

            %div{class: "mt-6 text-sm font-medium"}
              What platform are you using the product on in your solution?
            %div{class: "mt-1"}
              - options = @solution.platform_list + Solution.platform_counts.pluck(:name)
              = f.select :platform_list, options, {}, id: "platform_select", :multiple => true, class: "w-full"


            %div{class: "inline-flex items-center mt-6 ml-1"}
              = f.check_box :is_creator, class: "form-checkbox rounded"
              %div{class: "text-black text-sm ml-2"}
                I helped make this product


          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                What industries / occupations is your solution for?
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            %div{class: "w-full mt-1"}
              - options = options_for_select @solution.niche_list.map{ |n| [n.title, n.code, { title: n.title, 'selected' => 'selected' }] }
              = f.select :niche_list,  options, {}, {multiple: true, id: "select_community", class: "w-full mt-1 border-gray-300 shadow-sm rounded-md text-gray-900"}
            %div{class: "text-gray-600 text-xs mt-2"}
              = "Unsure of what communities to post to? #{link_to "Explore", industry_categories_path, target: "_blank", class: "px-0.5 -mx-0.5 border-b-3 border-secondary transition hover:bg-secondary hover:text-white"} or search to find relevant communities.".html_safe
            -# %div{class: "text-gray-600 text-xs mt-1"}
            -#   Please refresh the page if the box above looks funky 🤪
            -# %div{class: "mt-6 flex items-center"}
            -#   %div{class: "font-medium"}
            -#     Which lists is your solution relevant to?
            -#   %div{class: "ml-2 text-gray-600"}
            -#     = "- Optional"
            -# %div{class: "w-full mt-1"}
            -#   - options = (@solution.group_list + Group.all.pluck(:title)).uniq
            -#   -# - byebug
            -#   = f.select :group_list, options, {}, id: "group_select", :multiple => true, class: "w-full"

            -#   -# - niche_from_param = params[:code] ? (Industry.where(code: params[:code]).empty? ?  Occupation.where(code: params[:code]) : Industry.where(code: params[:code])) : nil
            -#   -# - options = options_for_select (@solution.list_list).map{ |n| [n.title, n.code, { title: n.title, 'selected' => 'selected' }] }
            -#   -# = f.select :list_list,  options, {}, {multiple: true, id: "select_community", class: "w-full mt-1 border-gray-300 shadow-sm rounded-md text-gray-900"}
            -# %div{class: "text-gray-600 text-xs mt-2"}
            -#   Some solutions apply generally to businesses / individuals with a common interest (ex: Small and Medium-sized Businesses / Indie Hackers). In that case, post to a relevant list.


            %div{class: "mt-6 flex items-center"}
              %div{class: "font-medium"}
                Problem title
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            = f.text_field :title,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "Manage / Organise / Increase / Improve / Simplify ...",
                data: {action: "change->data-binding#update"}, "data-binding-target": "problem-title", "data-binding-property": "textContent", "data-binding-value": "$source.value", "data-binding-initial": "true"

            %div{class: "text-gray-600 text-xs mt-1"}
              Try to skip words like "How to" and concisely state the problem you're solving.

        %div{class: "w-full place-self-center flex flex-col"}
          -# %div{class: "mt-2 bg-white px-5 border border-gray-400 w-full",
          -#     hover: "border-gray-900"}
          -#   %div{class: "flex flex-col rounded-sm py-5"}
          -#     %div{class: "w-full flex items-stretch"}
          -#       %div{class: "w-16 h-16 flex-shrink-0"}
          -#         = image_tag "https://user-images.githubusercontent.com/101482/29592647-40da86ca-875a-11e7-8bc3-941700b0a323.png", id: "product_logo", class: "object-cover"
          -#       %div{class: "pl-3 flex-grow w-min flex flex-col justify-between"}
          -#         %div{class: "font-semibold text-sm two-lines-only "}
          -#           %div{data: { binding: { ref: "problem-title"} } }
          -#             %div{class: "italic"}
          -#               Manage / Organise / Increase / Improve / Simplify ...

          -#         %div{class: "text-xs text-gray-600 flex flex-wrap"}
          -#           %div{class: "leading-none flex items-center"}
          -#             with
          -#             %div{id: "product_name", class: "ml-1", data: { binding: { ref: "product-name"} } }
          -#               %div{class: "italic"}
          -#                 Product name
          -#           .mx-1
          -#             &middot;
          -#           .hover:text-black.flex-shrink-0
          -#             = @solution.user.name
          -#           .ml-2.flex-shrink-0.hover:underline.hover:text-black
          -#             just now
          -#       %div{class: "ml-10 text-gray-900 place-self-center flex-shrink-0 flex flex-col items-center justify-center w-14 h-16 rounded-sm border border-gray-300 leading-none transition hover:text-primary"}
          -#         %div{class: "text-sm leading-none"}
          -#           ▲
          -#         %div{class: "mt-1 font-semibold"}
          -#           3
          %div{class: "px- mb-3 text-sm text-gray-600"}
            Preview

          %div{class: "flex items-center"}
            %div{class: "w-14 h-14 flex-shrink-0"}
              = image_tag @solution.product.thumbnail_url, class: "object-cover rounded-full"
            %div{class: "ml-2 text-lg font-bold"}
              = @solution.product.name
          %div{class: "mt-6 flex flex-wrap items-end w-full justify-between space-y-2"}
            %div{class: "flex-shrink-1 mr-2"}
              %div{class: "text-xs font-semibold text-gray-600"}
                Plan used in this solution
              %div{class: "flex text-sm items-end"}
                = "#{@solution.plan.name}"
                %div{class: "ml-3 text-xs text-gray-700"}
                  = "#{number_to_currency(@solution.plan.price_per_month, precision: 2)} #{@solution.plan.is_price_per_user ? "/u" : nil}/mo."
            %div{class: "text-sm flex-shrink-0 bg-secondary p-2 rounded text-white font-medium leading-none"}
              Learn More

      %div{class: "mt-20 text-2xl font-bold"}
        🤓 Tell us about your solution
      %div{class: "mt-6 w-full gap-x-10 grid grid-cols-2"}
        %div{class: "w-full"}
          %div{class: "p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                YouTube video(s)
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            #videos
              = f.fields_for :youtube_urls do |builder|
                = render 'solutions/youtube_url', f: builder
            %div{class: "text-blue-500 hover:underline mt-1 text-xs"}
              = link_to_add_field('Add video', f, :youtube_urls, class: "", id: "add_video")
            -# %div{class: "text-gray-600 text-xs mt-2"}
            -#   = "If you haven't recorded a video explaining your solution yet, we highly recommend #{link_to "Loom", "https://www.loom.com/?ref=solvedapp", target: "_blank", class: "text-blue-500 hover:text-blue-700 hover:underline"}.".html_safe
              -# It's a simple tool to record video messages of your screen, cam, or both.



            %div{class: "mt-4 flex items-center"}
              %div{class: "font-medium"}
                Description (only for search)
              %div{class: "ml-2 text-gray-600"}
                = "- Optional"
            = f.text_area :description,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "Manage / Organise / Increase / Improve / Simplify ...",
                rows: "3"
            -# %div{class: "mt-1 text-xs"}
            -#   Formatting: [this will be a link](https://www.example.com), **<strong>bold</strong>**, *<em>italic</em>*

            - if user_signed_in? && current_user.admin?
              %div{class: "mt-4 flex items-center"}
                %div{class: "font-medium"}
                  Demoer name
                %div{class: "ml-2 text-gray-600"}
                  = "- Optional"
              = f.text_field :demoer_name,
                  class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                  placeholder: ""


          -# %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
          -#   %div{class: "flex items-center"}
          -#     %div{class: "font-semibold"}
          -#       Tags
          -#     -# %div{class: "ml-2 text-gray-600"}
          -#     -#   = "- Required"
          -#   %div{class: "mt-2"}
          -#     General tags
          -#   %div{class: "text-gray-600 text-xs mt-1"}
          -#     Words that make sense across many different industries / occupations.
          -#   %div{class: "mt-1"}
          -#     - options = @solution.general_tag_list + Solution.general_tag_counts.pluck(:name)
          -#     = f.select :general_tag_list, options, {}, id: "general_tags", :multiple => true, class: "w-full"

          -#   %div{class: "mt-3"}
          -#     Community-specific tags
          -#   %div{class: "text-gray-600 text-xs mt-1"}
          -#     Words that make sense in the context of the industry / occupation you're posting to.
          -#   %div{class: "mt-1"}
          -#     - options = @solution.niche_specific_tag_list + Solution.niche_specific_tag_counts.pluck(:name)
          -#     = f.select :niche_specific_tag_list, options, {}, id: "niche_specific_tags", :multiple => true, class: "w-full"

          %div{class: "mt-6 p-4 bg-white rounded-sm shadow-sm text-sm border border-gray-400"}
            %div{class: "flex items-center"}
              %div{class: "font-medium"}
                Link to the product
              %div{class: "ml-2 text-gray-600"}
                = "- Required"
            = f.url_field :get_it_url,
                class: "mt-1 block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50",
                placeholder: "https://"
            %div{class: "text-gray-600 text-xs mt-1"}
              A link to learn more or purchase the product. This can be an affiliate link.


        %div{class: "w-full"}
          %div{class: "px-4 py-8 bg-white rounded-sm text-sm border border-gray-400"}
            %div{class: "w-full text-lg font-medium"}
              Tips! 👇
            %ul{class: "mt-3 list-disc list-inside leading-relaxed"}
              -# %li
              -#   Try to include a video.
              -#   %div.pl-5
              -#     Videos make it easier for others to understand what you're trying to convey. They also help people visualize how they could apply your solution in their daily life.
              %li
                This is your space.
                -# Your solution doesn't have to be perfect.
                %div.pl-5
                  Your solution doesn't have to be the best one for your problem. If you're satisfied with how you solve your problem and would recommend the product, it's worth sharing with the community.
              %li
                Only recommend products you've used for a while.
                -# Your solution doesn't have to be perfect.
                %div.pl-5
                  -# If your content is reported to be not genunine, your post will be removed.
                  We allow affiliate links for you to get compensated for your time and effort in making a video to show how use a product in your daily workflow. If your content is reported as not genuine, your post will be removed.
            %div{class: "text-sm font-normal"}
              %div{class: "mt-4 font-medium uppercase"}
                Description
              -# %div{class: "mt-1 leading-tight pl-2"}
              %ul.mt-2.list-disc.list-inside.space-y-1.leading-relaxed
                Use this space to list keywords and questions people would use to search for your solution. This is not shown anywhere.
                -# Keep it short. Try to only include details about:
                -# .mt-1.space-y-1
                -#   %li
                -#     = "Who are you (alternatively, who is your solution for)?"
                -#     %div.pl-5
                -#       This helps pepole understand what you're looking for in your solution, which helps them understand if the same applies to them.
                -#   -# whether the reason you chose the solution would apply to them."
                -#   %li= "What problem are you trying to solve?"
                -#   %li= "What one thing do you love the most about your solution, and what isn't so great? Including the not so great points helps others make better informed decisions."
                -#   -# %li= "What would people search to find a solution like this?"
              -# %div{class: "mt-4 font-medium uppercase"}
              -#   Video & First Comment
              -# %ul{class: "mt-2 list-disc list-inside space-y-2 leading-relaxed"}
              -#   %li
              -#     Try to show, don't tell.
              -#     %div{class: "ml-5"}
              -#       Give a visual example of how you use the product to solve your problem. Use a real life scenario, not a hypothetical one. <br/>Exception: if you're the maker of the product, you can use a hypothetical scenario (not recommended though).

                    -# This helps people visualise how they can apply your solution to their problem.
                -# %li
                -#   If you're the maker of the product:
                -#   %div{class: "ml-5"}
                -#     Put yourself in the shoes of the people you want to help. Understand their concerns of investing their time and money on your solution, only for it to not work out for them.
                -#     <br/>
                -#     What could you tell or show to convince them that it's worth giving your solution a shot?
                -# %li
                -#   If you're not the maker of the product:
                -#   %div{class: "ml-5"}
                -#     Give an honest review. Including the not so great points helps others make a better informed decision, and makes you come off as trustworthy.
                -# Has the product saved you time / money, helped you earn more money, or made you happier? Putting a figure / percentage helps people understand impact better.

                -# %li
                  -# Use the first comment to include details missed in your video, and to get the conversation started.


      = f.submit "Post →", class: "my-12 w-full text-sm font-semibold text-white bg-primary rounded-sm py-4 uppercase cursor-pointer hover:bg-opacity-90"



:javascript
  function updatePlanPreview() {
    if ($('#solution_plan_id').val()){
      $("#plan_builder").hide();
      document.getElementById('plan-name').value = '';
      document.getElementById('plan-price').value = '';
      document.getElementById('plan-per-user').value = '';
    } else  {
      $("#plan_builder").show()
    }
  };
  updatePlanPreview();
  $('#solution_plan_id').on('change', updatePlanPreview);




  function updateProductPreview() {

    var id = #{@solution.product.id};
    $.getJSON(`/products/${id}.json`, function(data) {
      document.getElementById("product_logo").src = data.thumbnail_url;
      document.getElementById("product_name").textContent = data.name;
      // JSON result in `data` variable

      // This code in AJAX response!
      $("#solution_plan_id").children().remove();
      var listitems = [];

      var selectedId = parseInt("#{params.dig(:solution, :plan_id).nil? ? 1 : params.dig(:solution, :plan_id)}");
      listitems += `<option value>Add a new plan</option>`;
      $.each(data.plans,function(key, value) {
        if (key == 0 && "#{params.dig(:solution, :plan_id).nil?}" === "true") {
          listitems += `<option value="${value.id}" selected>${value.name} - $${parseFloat(value.price_per_month).toFixed(2)}${value.is_price_per_user ? " / user" : ""} / month</option>`;
        } else {
          listitems += `<option value="${value.id}" ${value.id == selectedId ? "selected" : ""}>${value.name} - $${parseFloat(value.price_per_month).toFixed(2)}${value.is_price_per_user ? " / user" : ""} / month</option>`;
        }
      });
      $("#solution_plan_id").append(listitems);
      updatePlanPreview();

    });
  };
  updateProductPreview();


:javascript
  $( document ).on('turbolinks:load', function() {

    $("#add_video").on('click', function() {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('#videos').append($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    })

    $("#videos").on('click', '.remove_url', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('div').hide();
      return event.preventDefault();
    });
  });
= javascript_packs_with_chunks_tag 'select/community', 'data-turbolinks-track': 'reload'
