:javascript
  analytics.page("#{@niche.class.to_s} Solutions - #{@niche.title}");

-# = render 'layouts/header'
%div{class: "w-full", "data-controller": 'toggle'}
  - @current_user_is_following_niche = user_signed_in? ? current_user.following?(@niche) : false
  = render 'shared/niches/header', niche: @niche

  -# check_and_set_is_postable returns true else returns number of followers to avoid extra queries
  - tmp = @niche.check_and_set_is_postable_and_get_nb_followers
  - is_postable = tmp[:is_postable]
  - nb_followers = tmp[:nb_followers]
  %div{class: "mt-0 flex justify-center pb-10"}
    %div{class: "max-w-screen-lg w-full flex"}
      %div{class: "w-full px-4 pb-6 md:pb-0"}
        - if is_postable
          - if @solutions.any?

            -# - if @niche.tags.present?
            -#   %div{class: "flex items-center #{params[:tag].present? ? "text-base" : "text-xs pb-4"}"}
            -#     %h2{class: "font-semibold pb-4 flex-shrink-0"}
            -#       Tags:
            -#     - if params[:tag]
            -#       %div{class: "flex-shrink-0 text-black mr-1 ml-3 pb-4 font-medium"}
            -#         = params[:tag]
            -#     %div{class: "ml-3 space-x-4 overflow-x-scroll flex items-center pb-4"}
            -#       - @niche.tags.each do |tag|
            -#         = link_to_unless_current(tag.name, [@niche, tag: tag.name], class: "flex-shrink-0 text-gray-600 hover:text-black") do end
            -# - if params[:tag]
            -#   %div{class: "mt-6 pb-6 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
            -#     = render @solutions, cached: true
            -# - else

            - if @solutions.today.any?
              %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
                Today
              %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
                = render @solutions.today
            - if @solutions.past_week.any?
              %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
                Past Week
              %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
                = render @solutions.past_week
            - if @solutions.past_month.any?
              %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
                Past Month
              %div{class: "mt-6 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
                = render @solutions.past_month


          - else
            -# Postable, but no solutions
            %div{class: "mt-4 w-full font-semibold text-xl leading-none text-center"}
              No solutions to learn from yet 😔

            %div{class: "mt-20 w-full text-xl leading-none text-center"}
              Have a problem you need a solution for?<br/>
              %div{class: "mt-4"}
                = link_to "Make a request", new_request_path(code: @niche.code), class: "px-0.5 pt-1 user-link"



        - else
          -# Niche is not postable to
          -# %div{class: "w-full flex flex-col items-center"}
          -#   %div{class: "mt-4 w-full leading-none text-center"}
          -#     %div{class: "font-semibold text-xl"}
          -#       This community is currently locked 🔒
          -#   %div{class: "mt-6 text-6xl text-secondary diagonal-fractions"}
          -#     = "#{40 - nb_followers}/40"
          -#   -# %div{class: "ml-2 text-lg"}
          -#   %div{class: "mt-2 text-xl"}
          -#     followers needed to unlock
          -#   -# (Posting is allowed once a community has 40 followers. This community )

          - if user_signed_in?
            -# = "#{link_to "Follow", [:follow, @niche], class: "user-link px-1"}"
            - if !@current_user_is_following_niche
              %div{class: "w-full flex flex-col items-center"}
                %div{class: "mt-10 max-w-md w-full text-lg text-center"}
                  = "Follow to get notified when solutions are posted to the #{@niche.title} community 👇"
                %div{class: "mt-6 md:mt-4 max-w-md w-full text-lg text-center"}
                  = link_to "Follow community", [:follow, @niche], class: "flex-shrink-0 border-b-3 border-secondary px-0.5 text-xl font-medium leading-4 transition-all hover:bg-secondary hover:text-white pt-1 tracking-wide"
            - else
              %div{class: "w-full flex flex-col items-center"}
                %div{class: "mt-10 max-w-md w-full text-lg text-center"}
                  = "No solutions for the #{@niche.title} comunity yet 😔"
              -# %div{class: "mt-10 w-full text-center text-xl"}
              -#   Invite your friends to unlock this community quicker 🔓

          - else
            %div{class: "w-full flex justify-center"}
              %div{class: "mt-20 max-w-md w-full text-lg text-center"}
                = "Sign up and get notified when solutions are posted to the #{@niche.title} community 👇"

            = form_with url: [:follow, @niche], method: :get, local: true, html: {class: "mt-6 md:mt-4 w-full flex justify-center flex-wrap px-10 sm:flex-nowrap md:px-28"} do |f|
              %input{type: "email", name: "user[email]",
                placeholder: "Email",
                autocomplete: "email",
                class: "block text-gray-900 w-full max-w-xs sm:w-56 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"}
              = f.submit "Sign Up & Get Notified", class: "mt-2 sm:mt-0 flex-shrink-0 sm:ml-2 py-2 px-6 mx-8 sm:mx-0 sm:px-4 bg-primary text-white rounded cursor-pointer hover:bg-opacity-90"



          - if is_postable && @niche.solutions.present?
            - if !user_signed_in?
              %div
                %div{class: "text-lg text-center"}
                  Sign up and follow this community 👇
                  -# Get notified weekly about top solutions / requests posted to this community 👇
                = form_with url: [:follow, @niche], method: :get, local: true, html: {class: "mt-4 flex items-center"} do |f|
                  %input{type: "email", name: "user[email]",
                    placeholder: "Email",
                    autocomplete: "email",
                    class: "block text-gray-900 w-3/4 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"}
                  = f.submit "Sign Up", class: "flex-shrink-0 ml-2 p-2 bg-primary text-white rounded cursor-pointer hover:bg-opacity-90"


            %div{class: "text-base w-full text-center"}
              Have a problem you need a solution for?
              %div{class: "mt-2 flex leading-none w-full justify-center"}
                = link_to "Make a request", new_request_path(code: @niche.code), class: "user-link px-0.5 pt-1 items-center"


