%div{class: "bg-white sticky top-0 z-40"}
  %div{class: "flex justify-center border-0 px-4 shadow-sm md:px-0"}
    %div{data: { controller: "toggle"},
        class: "max-w-screen-lg w-full flex items-center justify-between py-2"}
      %div{class: "fill-current h-8 w-28"}
        -# Logo
        = link_to (svg_tag "logo"), root_path

      %div{c: "justify-self-center w-1/2 ml-4"}
        #searchbox

      %nav{class: "flex items-center space-x-2"}
        = link_to "Explore", industry_categories_path, class: "text-sm leading-none px-2 py-2 block rounded hover:bg-secondary hover:text-white font-semibold text-gray-900 sm:px-2 "

        -if user_signed_in?
          = link_to "New Request" , new_request_path, class: "text-sm leading-none px-1 py-2  block rounded hover:bg-secondary hover:text-white font-semibold text-gray-900 sm:px-2"
          = link_to "New Solution" , new_solution_path, class: "text-sm leading-none px-1 py-2  block rounded hover:bg-secondary hover:text-white font-semibold text-gray-900 sm:px-2"

          %div{class: "relative", "data-controller": "dropdown"}
            %div{"data-action": "mouseover->dropdown#show click@window->dropdown#hide", role: "button", class: "inline-block select-none"}
              %span{class: "flex items-center inline-block text-gray-700"}
                - if current_user
                  = image_tag current_user.thumbnail_url, class: "object-cover rounded-full w-8 h-8 ring ring-white hover:ring-gray-400 hover:ring-opacity-70"

            %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2"}
              %div{class: "overflow-hidden bg-white border rounded shadow"}
                = link_to 'Profile',  edit_user_registration_path, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap'
                = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'
        - else
          %div{class: "ml-2"}
          = link_to "Log In", new_user_session_path, class: "text-gray-900 font-semibold py-1 px-2 hover:bg-gray-200 rounded"
          = link_to "Sign Up", new_user_registration_path, class: "rounded font-semibold text-white py-1 px-2 bg-secondary hover:bg-opacity-90"

