%div{class: "bg-white sticky top-0 z-40"}
  -# %a(data-feedback-fish){href: "#", class: "absolute p-2 text-yellow-500 rounded top-2.5 left-2 hover:bg-gray-300", data: { turbolinks: false }, "data-feedback-fish-userid": "#{user_signed_in? ? current_user.email : nil}"}
  -#   <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
  -#   <path d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
  -#   </svg>

  -# <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
  -# <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
  -# </svg>

  -# - content_for :head do
  -#   = stylesheet_pack_tag 'search_navbar', media: 'all', 'data-turbolinks-track': 'reload'
  %div{class: "flex justify-center border-0 px-4 shadow-sm md:px-0"}
    %div{data: { controller: "toggle"},
        class: "w-full flex items-center md:justify-between py-2"}
      %div{class: "flex items-center"}
        %button{"data-action": "click@window->slideover#hide click->slideover#toggle", class: "hidden md:block mx-auto px-7 focus:outline-none text-gray-800 active:bg-gray-100 transition cursor-pointer"}
          %div{class: "w-6 h-6"}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        %div{class: "hidden md:flex items-end md:mr-7"}
          %div{class: "fill-current h-8 w-28"}
            -# Logo
            -# = link_to (svg_tag "logo"), root_path
            = link_to root_path do
              - if current_page?(root_url)
                %h1= svg_tag 'logo', alt: "solved"
              - else
                = svg_tag 'logo', alt: "solved"
          %div{class: "leading ml-2 font-source font-bold text-black block flex flex-col items-start"}
            -# leading-3 mb-1
            -# %div
            -#   Private
            %div{class: ""}
              Beta
      = link_to root_path do
        = svg_tag 'safari-pinned-tab', class: "text-primary h-8 w-8 object-cover md:hidden"

      %div{c: "justify-self-center flex-shrink ml-2 w-full md:w-1/2"}
        #searchbox_navbar

      -# - if params[:controller] != "search"
      -#   = javascript_packs_with_chunks_tag 'search/navbar', 'data-turbolinks-track': 'reload'
      -# %nav{class: "hidden md:flex items-center"}
      -#   %div{class: "flex items-center space-x-2 pr-4 border-r border-gray-400"}
      -#     -# %a(data-feedback-fish){href: "#", class: "p-1.5 text-yellow-500 rounded border border-white hover:bg-gray-200 hover:border-gray-400", data: { turbolinks: false }, "data-feedback-fish-userid": "#{user_signed_in? ? current_user.email : nil}"}
      -#     -#   <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
      -#     -#   <path d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
      -#     -#   </svg>
      -#     - if params[:controller] == "home"
      -#       - if !user_signed_in? || params[:action] != "all"
      -#         = link_to "Search Solutions" , search_solutions_path, class: "flex-shrink-0 text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
      -#     - else

            -# %div{class: "relative text-gray-900", "data-controller": "dropdown", "data-dropdown-active-class": "bg-gray-200 border-gray-400", "data-dropdown-active-target": '#activeTarget2'}
            -#   %div{"data-action": "mouseenter->dropdown#show mouseleave->dropdown#hide click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none"}
            -#     %span{id: "activeTarget2", class: "text-sm leading-none px-2 py-2  block rounded font-semibold border border-white"}
            -#       New

            -#   %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2.5 w-24"}
            -#     %div{class: "overflow-hidden bg-white border rounded shadow divide-y divide-gray-300"}
            -#       = link_to "Request" , new_request_path, class: 'font-medium hover:font-semibold transition-all text-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
            -#       = link_to "Solution" , new_solution_path, class: 'font-medium hover:font-semibold transition-alltext-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'

          -# - if user_signed_in?
          -#   - if params[:controller] == "home"
          -#     - if params[:action] == "all"
          -#       = link_to "Home" , home_path, class: "flex-shrink-0 text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
          -#     - else
          -#       = link_to "All" , all_path, class: "flex-shrink-0 text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
          -#   - else
          -#     = link_to "Home" , home_path, class: "flex-shrink-0 text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
          -# - else
          -#   - if params[:action] != "all"
          -#     = link_to "All" , all_path, class: "flex-shrink-0 text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
      %div{class: "flex-shrink-0 md:ml-4 flex items-center space-x-0 md:space-x-2 md:mr-7"}


        %div{class: "md:block relative text-gray-900 mt-1.5 md:mt-1 mx-2", "data-controller": "dropdown", "data-dropdown-active-class": "", "data-dropdown-active-target": '#activeTarget4'}
          %div{"data-action": "click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none  -m-1 p-1 md:-m-2 md:p-2 rounded-full hover:bg-gray-200"}
            %div{id: "activeTarget4", class: "w-5 h-5 text-gray-800 rounded-full "}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
              <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
              </svg>


          %div{"data-dropdown-target": "menu", class: "absolute right-0 md:right-0 hidden mt-2.5"}

            = form_with url: :feedbacks, method: :post, remote: true, html: {class: "rounded border border-gray-300 bg-white w-72 p-4 shadow-md"} do |f|
              %div{id: "feedback_box", class: "space-y-2 text-xs"}
                %div{class: "w-full text-left font-medium"}
                  Are you happy with solved?
                %div{class: "w-full flex items-center space-x-4", id: "happy_value"}
                  %div{class: "flex items-center space-x-1"}
                    = radio_button("feedback", "is_happy_user", true, class: "checked:bg-secondary")
                    %div
                      Yes
                  %div{class: "flex items-center space-x-1"}
                    = radio_button("feedback", "is_happy_user", false, class: "checked:bg-secondary" )
                    %div
                      No / Meh
                  -# %div{class: "flex items-center space-x-1"}
                  -#   = radio_button("feedback", "is_happy_user", false)
                  -#   %div
                  -#     Meh
                %textarea{rows: "4", name: "feedback[description]", id: "description",
                      class: "hidden mt-2 placeholder-gray-600 w-full block text-gray-900 text-xs rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                      placeholder: "Let us know what we could create, change or be doing better!"}
                - if !user_signed_in?
                  %div{class: "w-full hidden mb-2", id: "email"}
                    %div{class: ""}
                      Could we please contact you to find out more?
                    %input{type: "email", name: "feedback[email]",
                      placeholder: "Email (optional)",
                      autocomplete: "email",
                      class: "block text-xs placeholder-gray-600 w-full text-gray-900 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"}
                = f.submit "Send", id: "submit", class: "hidden mt-2 sm:mt-0 flex-shrink-0 py-2 px-3 sm:mx-0 sm:px-4 bg-primary text-white rounded cursor-pointer hover:bg-opacity-90"
        :javascript
          $("#happy_value input:radio").change(function(){
            if ($(this).val() === "true") {
              $("#description").attr("placeholder", "What makes you happy?");
              $("#email").hide();
            } else if ($(this).val() === "false") {
              $("#description").attr("placeholder", "What would you change? What (one) feature would make solved more useful for you?");
              $("#email").show();
            }
            $("#description").show();
            $("#submit").show();
          });


        %div{class: "hidden md:block relative text-gray-900 mt-1.5 md:mt-1 mx-2", "data-controller": "dropdown", "data-dropdown-active-class": "", "data-dropdown-active-target": '#activeTarget5'}
          %div{"data-action": "click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none  -m-1 p-1 md:-m-2 md:p-2 rounded-full hover:bg-gray-200"}
            %div{id: "activeTarget5", class: "w-5 h-5 text-gray-800 rounded-full "}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
              <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
              </svg>


          %div{"data-dropdown-target": "menu", class: "absolute right-0 md:right-0 hidden mt-2.5"}

            = form_with url: :mini_requests, method: :post, remote: true, html: {class: "rounded border border-gray-300 bg-white w-72 sm:w-80 p-4 shadow-md"} do |f|
              %div{id: "request_box", class: "text-xs"}
                %div{class: "w-full"}
                  solved is new so you're unlikely to currently find interesting solutions for your industry / occupation, but we're keen to help. <br/><br/>
                  Let us know who you are / what you do and we'll send you an email with interesting solutions for you.<br/>
                  (if you have have a problem in mind, let us know)


                %textarea{rows: "4", name: "mini_request[description]",
                      class: "mt-4 placeholder-gray-600 w-full block text-gray-900 text-xs rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"}
                -# placeholder: "Let us know about that dreadful task you do daily / weekly"}
                - if !user_signed_in?
                  %input{type: "email", name: "mini_request[email]",
                    placeholder: "Email",
                    autocomplete: "email",
                    class: "mt-2 block placeholder-gray-600 text-xs w-full text-gray-900 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"}
                = f.submit "Send", class: "mt-2 flex-shrink-0 py-2 px-3 sm:mx-0 sm:px-4 bg-primary text-white rounded cursor-pointer hover:bg-opacity-90"


        = link_to new_solution_path, "data-turbolinks": false, class: "hidden md:block text-gray-900 md:-m-2 md:p-2 rounded-full hover:bg-gray-200" do
          %div{class: "w-5 h-5"}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
            </svg>
          -# %div{"data-action": "click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none  -m-1 p-1 md:-m-2 md:p-2 rounded-full hover:bg-gray-200"}
          -#   %div{id: "activeTarget2", class: "w-5 h-5 text-gray-800 rounded-full "}



          -# %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2.5 w-24"}
          -#   %div{class: "overflow-hidden bg-white border rounded shadow divide-y divide-gray-300"}
          -#     = link_to "Request" , new_request_path, class: 'font-medium hover:font-semibold transition-all text-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap', "data-turbolinks": "false"
          -#     = link_to "Solution" , new_solution_path, class: 'font-medium hover:font-semibold transition-alltext-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap', "data-turbolinks": "false"

        - if user_signed_in?


          %div{class: "md:mr-7 relative", "data-controller": "dropdown", "data-dropdown-active-class": "", "data-dropdown-active-target": '#activeTarget3'}
            %div{id: "activeTarget3", "data-action": "click->dropdown#toggle click@window->dropdown#hide", role: "button", class: " flex select-none items-center border border-white  rounded-lg md:hover:bg-gray-200 md:-m-2 md:p-2"}
              %div{class: " flex items-center inline-block hover:bg-gray-200 -m-1 p-1 rounded-full"}
                = image_tag current_user.thumbnail_url, class: "object-cover rounded-full w-7 h-7  ring-0.5 ring-white hover:ring-gray-400 hover:ring-opacity-70"
              %div{class: "hidden md:block text-sm font-medium ml-2"}
                = current_user.name

            %div{"data-dropdown-target": "menu", class: "max-w absolute right-0 mt-2"}
              %div{class: "max-w bg-white border rounded shadow divide-y divide-gray-300 text-sm w-full"}
                = link_to 'Profile',  edit_user_registration_path, class: 'flex-shrink-0 font-medium hover:font-semibold transition-all text-left block p-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
                = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'w-28 font-medium hover:font-semibold transition-all text-left no-underline block p-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
        - else
          = link_to new_user_session_path do
            %div{class: "md:hidden -m-1 p-1 rounded-full text-gray-800 active:bg-gray-200 transition hover:bg-gray-200 cursor-pointer "}
              - active = params[:controller] == "registrations" && params[:action] == "edit"
              %div{class: "w-6 h-6 #{active ? "text-secondary" : nil}"}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
          %div{class: "hidden md:block lg:space-x-1 mr-7 text-sm lg:text-base"}
            = link_to "Log In", new_user_session_path, class: "text-gray-900 font-semibold py-2 px-2 hover:bg-gray-200 rounded"
            = link_to "Sign Up", new_user_registration_path, class: "rounded font-semibold text-white py-2 px-2 bg-secondary hover:bg-opacity-90"


