%div{class: "bg-white sticky top-0 z-40"}
  %a(data-feedback-fish){href: "#", class: "absolute p-2 text-yellow-500 rounded top-2.5 left-2 hover:bg-gray-200", data: { turbolinks: false }, "data-feedback-fish-userid": "#{user_signed_in? ? current_user.email : nil}"}
    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
    </svg>
  %div{class: "flex justify-center border-0 px-4 shadow-sm md:px-0"}
    %div{data: { controller: "toggle"},
        class: "max-w-screen-lg w-full flex items-center justify-between py-2"}
      %div{class: "flex items-end"}
        %div{class: "fill-current h-8 w-28"}
          -# Logo
          = link_to (svg_tag "logo"), root_path
        %div{class: "leading ml-2 font-source font-bold text-black block flex flex-col leading-3 mb-1 items-start"}
          %div
            Private
          %div{class: ""}
            Beta

      %div{c: "justify-self-center flex-shrink ml-4"}
        #searchbox

      %nav{class: "flex items-center"}
        %div{class: "flex items-center space-x-2 pr-4 border-r border-gray-400"}
          %div{class: "relative text-gray-900", "data-controller": "dropdown", "data-dropdown-active-class": "bg-gray-200 border-gray-400", "data-dropdown-active-target": '#activeTarget'}
            %div{"data-action": "mouseover->dropdown#show mouseout->dropdown#hide click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none"}
              %span{id: "activeTarget", class: "text-sm leading-none px-2 py-2  block rounded font-semibold border border-white"}
                My Niches

            %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2.5 w-56"}
              %div{class: "overflow-hidden w-full bg-white border rounded shadow divide-y divide-gray-300"}
                - if user_signed_in?
                  - if current_user.niche_list.present?
                    - current_user.niche_list.each do |n|
                      = link_to n.title,  n, class: 'text-sm transition-all  block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
                - else
                  = link_to "Log In to save a niche.", new_user_session_path, class: 'text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap'
                -# = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'
          -# %button
          -#   Feedback
          = link_to "Explore", industry_categories_path, class: "text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
          - if user_signed_in?
            %div{class: "relative text-gray-900", "data-controller": "dropdown", "data-dropdown-active-class": "bg-gray-200 border-gray-400", "data-dropdown-active-target": '#activeTarget2'}
              %div{"data-action": "mouseenter->dropdown#show mouseleave->dropdown#hide click->dropdown#toggle click@window->dropdown#hide", role: "button", class: "inline-block select-none"}
                %span{id: "activeTarget2", class: "text-sm leading-none px-2 py-2  block rounded font-semibold border border-white"}
                  New

              %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2.5 w-24"}
                %div{class: "overflow-hidden bg-white border rounded shadow divide-y divide-gray-300"}
                  = link_to "Request" , new_request_path, class: 'font-medium hover:font-semibold transition-all text-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
                  = link_to "Solution" , new_solution_path, class: 'font-medium hover:font-semibold transition-alltext-left text-sm two-lines-only block px-3 py-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
          - else
            = link_to "New Request", new_request_path, class: "text-sm leading-none px-2 py-2 block rounded hover:bg-gray-200 font-semibold text-gray-900 border border-white"
          -# "text-sm text-center leading-none p-4  block hover:bg-gray-200 font-medium text-gray-900"
        %div{class: "flex-shrink-0 ml-4 flex items-center"}
          - if user_signed_in?
            -# = link_to "New Solution" , new_solution_path, class: "text-sm leading-none px-1 py-2  block rounded hover:bg-secondary hover:text-white font-semibold text-gray-900 sm:px-2"

            %div{class: "relative", "data-controller": "dropdown", "data-dropdown-active-class": "border-gray-400 bg-gray-200", "data-dropdown-active-target": '#activeTarget3'}
              %div{id: "activeTarget3", "data-action": "mouseover->dropdown#show onmouseout->dropdown#hide click@window->dropdown#hide", role: "button", class: "flex select-none items-center border border-white  rounded px-2 py-0.5"}
                %div{class: "flex items-center inline-block text-gray-700"}
                  = image_tag current_user.thumbnail_url, class: "object-cover rounded-full w-7 h-7 ring-0.5 ring-white hover:ring-gray-400 hover:ring-opacity-70"
                %div{class: "text-sm font-medium ml-2"}
                  = current_user.name

              %div{"data-dropdown-target": "menu", class: "absolute right-0 hidden mt-2 w-full"}
                %div{class: "overflow-hidden bg-white border rounded shadow divide-y divide-gray-300 text-sm"}
                  = link_to 'Profile',  edit_user_registration_path, class: 'font-medium hover:font-semibold transition-all text-left block p-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
                  = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'font-medium hover:font-semibold transition-all text-left no-underline block p-3 text-gray-900 bg-white hover:bg-secondary hover:text-white whitespace-no-wrap'
          - else
            %div{class: "space-x-2"}
              = link_to "Log In", new_user_session_path, class: "text-gray-900 font-semibold py-2 px-2 hover:bg-gray-200 rounded"
              = link_to "Sign Up", new_user_registration_path, class: "rounded font-semibold text-white py-2 px-2 bg-secondary hover:bg-opacity-90"

