!!!
%html
  %head
    = include_gon
    = javascript_packs_with_chunks_tag 'segment/setup', 'data-turbolinks-track': 'reload'

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <meta name="turbolinks-cache-control" content="no-preview">
    <script defer src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    = display_meta_tags site: 'solved'
    = render 'layouts/shim'
    = render 'layouts/rails_default'
    = render 'application/favicon'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'search/navbar', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'segment/call', 'data-turbolinks-track': 'reload'
    = yield :head
  %body

    -# = debug(params) if Rails.env.development?

    -# bg-gray-fb bg-opacity-60
    #app{class: "min-h-screen bg-gray-200 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-start justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)

      %div{class: "h-screen flex flex-col justify-between", "data-controller": "slideover", "data-action": "click@window->slideover#hide", "data-slideover-open-value": "false", "data-slideover-invisible-class": "-translate-x-full,opacity-0", "data-slideover-visible-class": "block,translate-x-0,opacity-100", "data-slideover-entering-class": "", "data-slideover-enter-timeout": "500,300", "data-slideover-leaving-class": "", "data-slideover-leave-timeout": "5,0"}
        = render 'layouts/header'
        %div{class: "flex-grow pb-10 md:pb-0 flex overflow-y-auto"}
          = render 'layouts/sidebar'
          #app_body{class: "overflow-y-auto w-full"}
            = yield

          #results{class: "overflow-y-auto hidden px-8 mt-4 w-full"}
            %div{class: "font-m text-2xl"}
              Choose your industry or occupation below 👇
            %div{class: "text-lg"}
              = "(or #{link_to "explore", industry_categories_path, class: "user-link px-0.5", target: "_blank"} if you're unable to find your community)".html_safe
            #hits{class: "mt-6 mb-10 w-full"}

        = render 'layouts/mobile_footer'

