!!!
%html
  %head
    = include_gon
    = javascript_packs_with_chunks_tag 'segment/setup', 'data-turbolinks-track': 'reload'
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <script defer src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>

    = display_meta_tags site: 'solved'
    = render 'layouts/shim'
    = render 'layouts/rails_default'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'search/navbar', 'data-turbolinks-track': 'reload'
    - if @use_select_community
      = javascript_packs_with_chunks_tag 'select/community', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
    = yield :head
  %body
    -# = include_gon(:init => true)
    -# = include_gon
    = javascript_packs_with_chunks_tag 'segment/call', 'data-turbolinks-track': 'reload'
    -# <script defer src="https://feedback.fish/ff.js?pid=f8d0cb1bf57f97"></script>
    -# = javascript_pack_tag 'search'
    -# %div{class: "hidden", id: "turbolinkz", "data-turbolinkz-id": "#{user_signed_in? ? current_user.id : 0}"}

    -# :javascript
    -#   analytics.page();
    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-fb bg-opacity-60 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-start justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)


      = render 'layouts/header'
      #app_body
        = yield
      #results{class: "w-full flex justify-center hidden"}
        %div{class: "mt-10 flex flex-wrap justify-center pb-20 px-4 w-full"}
          %div{class: "max-w-screen-lg w-full flex flex-col"}
            %div{class: "font-m text-2xl"}
              Choose your industry or occupation below 👇
            %div{class: "text-lg"}
              = "(or #{link_to "explore", industry_categories_path, class: "user-link px-0.5", target: "_blank"} if you're unable to find your community)".html_safe
            #hits{class: "mt-6 mb-10 w-full"}
            -# %div{class: "mt-8 font-bold text-3xl"}
            -#   Products
            -# #hits-product{class: "mt-4"}

    -# = tag :meta, name: "current-user", content: current_user.id, data: {email: current_user.email, name: current_user.name} if user_signed_in?

