!!!
%html
  %head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    = display_meta_tags site: 'solved'
    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,800,700,600,500,400", rel: "stylesheet"}
    = render 'layouts/shim'
    = render 'layouts/rails_default'
    -# %script(src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js")
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>
    -# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
    <!-- Include only the reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
    <!-- or include the full Algolia theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
    = render 'application/favicon'
    :javascript
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.13.1";
        analytics.load('#{ENV['SEGMENT_WRITE_KEY']}');
      }}();
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'basic_instant_search'
    = javascript_pack_tag "select2"

    = yield :head
  %body
    %div{class: "hidden", id: "turbolinkz", "data-turbolinkz-id": "#{user_signed_in? ? current_user.id : 0}"}

    :javascript
      analytics.page();
    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-fb bg-opacity-60 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-start justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)


      = render 'layouts/header'
      <script defer src="https://feedback.fish/ff.js?pid=f8d0cb1bf57f97"></script>
      #app_body
        = yield
      #results{class: "w-full flex justify-center"}
        %div{class: "mt-10 flex flex-wrap justify-center pb-20 px-4"}
          %div{class: "max-w-screen-lg w-full relative flex flex-col"}
            %div{class: "font-bold text-3xl"}
              Niches
            -# :css
            -#   mark {
            -#     font-weight: 700;
            -#     background: transparent;
            -#   }
            #hits{class: "mt-4 mb-10"}
            -# %div{class: "mt-8 font-bold text-3xl"}
            -#   Products
            -# #hits-product{class: "mt-4"}


