!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,800,700,600,500,400", rel: "stylesheet"}
    %title PhApp
    = render 'layouts/rails_default'
    = render 'layouts/shim'
    -# %script(src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js")
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>
    -# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
    <!-- Include only the reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
    <!-- or include the full Algolia theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">

    = javascript_pack_tag 'basic_instant_search'
    = yield :head
  %body
    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-fb bg-opacity-60 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-end justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)
            -# - case data
            -# - when Hash
            -#   = render NotificationComponent.new(type: type, data: data)
            -# - else
            -#   = render NotificationComponent.new(type: type, data: { title: data })

      = render 'layouts/header'
      #app_body
        = yield
      #results{class: "w-full flex justify-center"}
        - @render_shadow = false
        %div{class: "mt-8 max-w-6xl w-full"}
          %div{class: "font-bold text-3xl"}
            Niches
          #hits{class: "mt-4"}
          -# %div{class: "mt-8 font-bold text-3xl"}
          -#   Products
          -# #hits-product{class: "mt-4"}


