!!!
%html
  %head
    = include_gon
    = javascript_packs_with_chunks_tag 'segment/setup', 'data-turbolinks-track': 'reload'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,800,700,600,500,400", rel: "stylesheet"}
    %title solved - Find better solutions to your problems
    <meta name="robots" content="noindex, nofollow">
    = render 'layouts/rails_default'
    = render 'layouts/shim'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'

    = yield :head
  %body
    = javascript_packs_with_chunks_tag 'segment/call', 'data-turbolinks-track': 'reload'
    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-fb bg-opacity-60 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-end justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)
      #app_body
        = yield
