!!!
%html
  %head
    = include_gon
    = javascript_packs_with_chunks_tag 'segment/setup', 'data-turbolinks-track': 'reload'
    -# :javascript
    -#   !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    -#   analytics.load("#{ENV['SEGMENT_WRITE_KEY']}");
    -#   }}();
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>

    = display_meta_tags site: 'solved'
    = render 'layouts/shim'
    = render 'layouts/rails_default'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag "search/#{params[:action]}", 'data-turbolinks-track': 'reload'

    = render 'application/favicon'
    = yield :head
  %body

    = javascript_packs_with_chunks_tag 'segment/call', 'data-turbolinks-track': 'reload'
    -# :javascript
    -#   if (window.analytics) {
    -#     window.analytics.page('Solution Search');
    -#     if ('#{user_signed_in?} === "true"') {
    -#       analytics.identify('#{current_user.id}', {
    -#         name: '#{current_user.name}',
    -#         email: '#{current_user.email}',
    -#       });
    -#     }
    -#   }

    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-200 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-start justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)

      %div{class: "h-screen flex flex-col justify-between", "data-controller": "slideover", "data-action": "click@window->slideover#hide", "data-slideover-open-value": "false", "data-slideover-invisible-class": "-translate-x-full,opacity-0", "data-slideover-visible-class": "block,translate-x-0,opacity-100", "data-slideover-entering-class": "", "data-slideover-enter-timeout": "500,300", "data-slideover-leaving-class": "", "data-slideover-leave-timeout": "5,0"}
        = render 'layouts/header'

        %div{class: "flex-grow pb-10 md:pb-0 flex overflow-y-auto"}
          = render 'layouts/sidebar'
          #app_body{class: "overflow-y-auto w-full"}
            = yield

        = render 'layouts/mobile_footer'

