!!!
%html
  %head
    = include_gon
    = javascript_packs_with_chunks_tag 'segment/setup', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'segment_setup', media: 'all', 'data-turbolinks-track': 'reload'
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    = display_meta_tags site: 'solved'
    = render 'layouts/shim'
    = render 'layouts/rails_default'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag "search/#{params[:action]}", 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
    = yield :head
  %body
    = javascript_packs_with_chunks_tag 'segment/call', 'data-turbolinks-track': 'reload'
    -# <script defer src="https://feedback.fish/ff.js?pid=f8d0cb1bf57f97"></script>
    -# = javascript_pack_tag 'search', 'data-turbolinks-track': 'reload'
    -# :javascript
    -#   analytics.page();
    -# = debug(params) if Rails.env.development?
    #app{class: "min-h-screen bg-gray-fb bg-opacity-60 antialiased font-sans"}
      %div{class: "fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50"}
        %div{class: "flex flex-col items-start justify-center"}
          - flash.each do |type, data|
            = render NotificationComponent.new(type: type, data: data)

      %div{class: "h-max flex flex-col justify-between"}
        = render 'search/header'

        %div{class: "flex-grow pb-10 md:pb-0"}
          = yield

        = render 'layouts/mobile_footer'
