-# %h2
-#   Edit #{resource_name.to_s.humanize}
-# = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
-#   = render "users/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   - if devise_mapping.confirmable? && resource.pending_reconfirmation?
-#     %div
-#       Currently waiting confirmation for: #{resource.unconfirmed_email}
-#   .field
-#     = f.label :password
-#     %i (leave blank if you don't want to change it)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#     - if @minimum_password_length
-#       %br/
-#       %em
-#         = @minimum_password_length
-#         characters minimum
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .field
-#     = f.label :current_password
-#     %i (we need your current password to confirm your changes)
-#     %br/
-#     = f.password_field :current_password, autocomplete: "current-password"
-#   .actions
-#     = f.submit "Update"
-# %h3 Cancel my account
-# %p
-#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
-# = link_to "Back", :back


-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "users/shared/error_messages", resource: resource
-#   .field
-#     = f.label :name
-#     = f.text_field :name, autofocus: true, autocomplete: "name"
-#   .field
-#     = f.label :email
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "users/shared/links"
%div{class: "h-screen overflow-hidden"}
  %div{class: "flex flex-wrap justify-center h-full"}
    %div{class: "w-full"}
    -# 2 Column
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "users/shared/error_messages", resource: resource
      %div{class: "max-w-screen-lg w-full h-full relative flex flex-wrap px-6 md:flex md:flex-nowrap"}
        -# Left Column
        %div{class: "w-1/2 mt-10"}
          = image_tag current_user.thumbnail_url, class: "rounded-full h-40 w-40 object-cover"
          %div.w-full.mt-4
            = f.text_field :bio, class: "w-full py-3 rounded-md border-gray-400 focus:border-indigo-300", placeholder: "Short bio"
          %div{class: "w-full text-xl font-medium mt-16"}
            Thumbnail link (ex: Twitter, GitHub thumbnails)

          %div.w-full.mt-2
            = f.text_field :thumbnail_url, value: "#{is_oxro_url?(resource.thumbnail_url) ? nil : resource.thumbnail_url}", class: "w-full py-3 rounded-md border-gray-400 focus:border-indigo-300", placeholder: "https://"
          -# %div{class: "mt-2 text-gray-600 text-xs text-left w-full"}
          -#   Leave blank if you don't want to change your thumbnail
          -# %div{class: "mt-9 text-2xl"}
          -#   Find better solutions to your problems.
            -# Find solutions tailored to you.
        %div{class: "w-1/2"}
          %div{class: "ml-24 bg-white pt-4 pb-6 shadow-lg rounded-lg"}
            %div{class: "flex flex-col items-center w-full px-4"}
              -# %div{class: "text-primary font-medium text-2xl"}
              -#   Sign Up
              = f.text_field :name, placeholder: "Name", autofocus: true, autocomplete: "name", class: "w-full py-3 rounded-md border-gray-400 focus:border-indigo-300"
              %div{class: "mt-3"}
              = f.email_field :email, disabled: true, placeholder: "Email", class: "text-gray-600 cursor-not-allowed select-none w-full py-3  rounded-md border-gray-400 focus:border-indigo-300"
              %div{class: "mt-3"}
              = f.password_field :password, placeholder: "New password", autocomplete: "new-password", class: "w-full py-3 rounded-md border-gray-400 focus:border-indigo-300"
              %div{class: "mt-1 text-gray-600 text-xs text-left w-full"}
                Leave blank if you don't want to change your password
              = f.password_field :current_password, placeholder: "Current password", autocomplete: "current-password", class: "mt-3 w-full py-3 rounded-md border-gray-400 focus:border-indigo-300"
              %div{class: "mt-1 text-gray-600 text-xs text-left w-full"}
                To confirm changes to your account
              -# %div{class: "mt-3"}
              -# = f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "new-password", class: "w-full py-3 rounded-md border-gray-400 focus:border-indigo-300"
              %div{class: "mt-6"}
              = f.submit "Update Details", class: "text-center font-bold text-white py-2.5 w-full bg-primary rounded-md text-xl hover:bg-opacity-90 cursor-pointer"
              %div{class: "mt-4 w-full justify-center"}
              = link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-secondary text-sm font-medium hover:underline"
              %div{class: "mt-4 border-b w-full border-gray-400"}
              %div{class: "mt-6 flex"}
                = link_to "Return home", root_path, class: "font-medium text-primary hover:underline", "data-no-turbolink": 'true'
                -# -# New to solved?
                -# .ml-1.5.flex
                -#   = link_to "Create an Account", new_registration_path(resource_name), class: "font-medium text-secondary hover:underline"
                -#   %div= "."
                -#   -# class: "text-center font-bold text-white py-3 px-4 bg-indigo-600 rounded-md hover:bg-opacity-90"


